header {
  padding: 0px 0 100px;
}

section {
  /* padding-top: 50px; */
  padding-bottom: 50px;
}

.navbar-default .navbar-brand {
  color: #be4444;
}

#mark-pink {
  background-color: #fce7fb;
}

.top {
  margin-top: 20px;
}

.head-a {
  margin-right: 10px;
}

#top-container{
  margin-bottom: 20px;
  margin-top: px;
  padding-top: 20px;
  padding-bottom: 20px;
}

